{% load static %}
<!DOCTYPE html
><html>
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}Prodavnica Satova{% endblock %}</title>
        <link href="{% static "css/base.css" %}" rel="stylesheet">
    </head>
    <body>
        <div id="header">
            <a href="/" class="logo">Prodaja Satova</a>
        </div>
        <div id="subheader">
            <div class="cart">
                {{korpa|length}}
                    {% with brojstavkiukorpi=korpa|length %}
                        {% if brojstavkiukorpi > 0 %}
                            U korpi se nalazi:
                            <a href="{% url "KorpaZaKupovinu:DetaljiKorpe" %}">
                                {{brojstavkiukorpi}} kom, ukupna cena
                                &euro;{{ korpa.UzmiUkupnuCenu }}
                            </a>
                        {% else %}
                            Korpa je prazna.
                        {% endif %}
                    {% endwith %}
            </div>
        </div>
        <div id="content">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>